@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

/***********************************GENERALES*/
body * {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    max-width: 80%;
    margin: auto;
}

h1{
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

a:hover {
    color: #ccc !important;
}

.InfoTOP a:hover {
    color:#950C00 !important;
}

.text-rojo-allgarage {
    color: #950C00 !important;
}

/*************************************NAVEGACIÓN*/

.container_nav {
    background-color: black;
}

.navbar {
    width: 100%;
    max-width: 80%;
    margin: auto; 
}

.collapse ul {
    background-color: #000000;
}

.navbar img {
    width: auto;
    height: 70px;
}

.navbar .navbar-brand {
    width: 40px;
    height: auto;
}

.nav-item .nav-link active {
    color: #FDC309;
}

.B-top-item {
    width: 100%;
    height: 40px;
    background-color: #FDC309;
    list-style: none;
}

.B-top-item img{
    width: 15px;
    height: auto;
}

.B-top-item a{
    color: #000000;
    font-size: small;
}

.B-top-item a:hover{
    color: #950C00 !important;
}

/*******************************************WHATSAP*/

#whatsapp a{
    text-decoration: none;
  }
  #whatsapp {
      position: fixed;
      bottom: 20px;
      right:20px;
  }
  svg {
      width: 80px;
      display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
  }
  circle {
    fill: #25d366;
  }
  path {
      fill:  #fff;
  }
  #whatsapp a {padding: 20px 0;}
  #whatsapp a::before {
      content: 'Te asesoramos';
      display: inline-block;
      vertical-align: middle;
      padding: 5px 10px;
      margin-right: 10px;
      color: rgba(0, 0, 0, .8);
      background: white;
      border: 1px solid #ccc;
      border-radius: 20px;
      filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
      transition: .3s ease;
      opacity: 0;
  }
  #whatsapp:hover a::before {opacity: 1;}

/*******************************************FOOTER*/

footer {
    background-color: #000000;
    width: 100%;
    height: auto;
}

footer .icon_section img {
    width: 30px;
    height: auto;
}

footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

footer .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo-1 .box figure img {
    width: 250px;
}

footer .box h4 {
    margin-bottom: 25px;
    font-size: 20px;
}

footer .box p {
    margin-bottom: 10px;
}

footer .grupo-1 .box .icon_section {
    display: flex;
    margin-bottom: 10px;
}

footer .grupo-1 .box .icon_section img {
    margin-right: 10px;
}

footer .grupo-1 .box .text_container h5 {
    margin-bottom: 10px;
    font-size: 15px;
}

footer .grupo-2 {
    background-color: #FDC309;
    padding: 15px 10px;
    text-align: center;
    color: #000000;
}

footer .bi-facebook {
    color: #ffffff;
    font-size: x-large;
}

footer .bi-instagram {
    color: #ffffff;
    font-size: x-large;
}

footer .bi-whatsapp {
    color: #ffffff;
    font-size: x-large;
}

/**/
/**/
/*********************************HOME***************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/Launch_Home.jpg);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP {
    display: flex;
    align-items: center;
}

.InfoTOP {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head h1 {
    font-size: 80px;
}

.txt_head h2 {
    font-size: 60px;
    color: #FDC309;
}

.btn btn-outline-light {
    font-size: 150px;
}

.InfoCARD {
    position: absolute;
    top: 550px;
    text-align: center;
}

/*****************************************DESTACADOS*/

#Destacados {
    width: 100%;
}

.container-fluid {
    background-color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

/*****************************************CARDS*/

.card_flip {
    position: relative;
    width: 80%;
    height: 500px; 
    margin: 0;
    padding: 0 10px;
}

.card_flip div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s;
    border-radius: 10px;
    overflow: hidden;
}

.card_flip .front {
    transform: perspective(500px) rotateY(0deg);
}

.card_flip .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_flip .front p{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card_flip:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card_flip .back {
    background: #FDC309;
    transform: perspective(500px) rotateY(180deg);
    padding: 15px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    position: relative;
}

.card_flip .back p {
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #000000;
}

.card_flip .back .link_back {
    margin-top: 400px;
    padding-top: 10px;
    text-align: center;
}

.card_flip .back .link_back a {
    display: inline-block;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.card_flip:hover .back {
    transform: perspective(500px) rotateY(360deg);
}

.card_flip a:hover {
    color: #950C00 !important;
}

.nuestros_servicios a:hover {
    color: #FDC309 !important;
}

/*****************************************SECTION SMOTH*/
.smoth {
    background-color: #950C00;
}

.smoth .card {
    border-style: none;
    background-color: #FDC309;
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.smoth img {
    width: 400px;
    height: auto;
}

/******************************************FORM*/
.btn btn-primary {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #FDC309;
    color: black;
}

input .placeholder {
    color: rgb(223, 221, 221);
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}

/*+++++++++++++++++++++++++++++++++++++++++CAROUSEL*/
  
.carousel img {
    width: 200px;
    height: auto;
    align-items: center;
}

/**/
/**/
/******************************************************SERVICES***************************************************/
/**/
/**/

/**********************************************************HERO SECTION******************************************/

.headerSERV {
    width: 100%;
    height: 900px;
    background-color: #FDC309;
}

#ServiciosTOP {
    width: 80%;
    height: auto;
}

.Titulo_container {
    position: absolute;
    text-align: center;
    top: 180px;
    margin: 10px auto; 
}

.titulo h1{
    font-size: 80px;
}

.titulo h2{
    font-size: 60px;
}

.card_services {
    position: absolute;
    top: 300px;
    display: flex;
}

.card-img-top {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/********************************************************DESTACADOS***********************************/

.bento-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
}

.service-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card:hover img {
    opacity: 1;
}

.service-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px; 
    }

.service-info-nuevo {
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: greenyellow;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}    

/*Destacados*/
.service-card:nth-child(1), 
.service-card:nth-child(4),
.service-card:nth-child(5),
.service-card:nth-child(8){
    grid-column: span 2;
}

/**********************************************************AGENDAMIENTO****************************************************/

#agendamiento {
    width: 100%;
    height: 850px;
    background-color: #950C00;
}

/**/
/**/
/*********************************************************CONTACTO*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.headerCONT {
    width: 100%;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.50)), url(../img/Header_Contacto.JPG);
    opacity: 1;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP {
    display: flex;
    align-items: center;
}

.InfoTOP_Cont {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_Cont h1 {
    font-size: 80px;
}

.txt_head_Cont h2 {
    font-size: 60px;
    color: #FDC309;
}

.InfoCARD_Cont {
    position: absolute;
    top: 500px;
    text-align: center;
}

.card-body-icon img {
    width: 100px;
}

/**********************************************************UBICACION******************************************/

#ubicacion {
    width: 100%;
    height: 800px;
}

#form_datos {
    background-color: rgb(253, 195, 9, 0.2);
    box-shadow: #000000 0px 3px 3px;
    padding: 30px 40px;
    border-radius: 5px;
    align-items: center;
}

/**/
/**/
/**************************************************SERVICIO-DPF*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_DPF {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Limpieza-dpf_Services-dpf.jpg);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_DPF {
    display: flex;
    align-items: center;
}

.InfoTOP_DPF {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_DPF h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_DPF h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_DPF {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_DPF:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_DPF {
    width: 100%;
    max-height: 550px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/**/
/**/
/**************************************************AIRE-ACONDICIONADO*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_Aire {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Header_aire-acondicionado.jpg);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_Aire {
    display: flex;
    align-items: center;
}

.InfoTOP_Aire {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_Aire h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_Aire h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_Aire {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_Aire:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_Aire {
    width: 100%;
    max-height: 550px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/**/
/**/
/**************************************************ALINEACION*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_Alineacion {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Header_Alineacion.JPG);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_Alineacion {
    display: flex;
    align-items: center;
}

.InfoTOP_Alineacion {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_Alineacion h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_Alineacion h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_Alineacion {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_Alineacion:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_Alineacion {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/**/
/**/
/**************************************************BALANCEO*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_Balanceo {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Header_Balanceo.JPG);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_Balanceo {
    display: flex;
    align-items: center;
}

.InfoTOP_Balanceo {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_Balanceo h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_Balanceo h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_Balanceo {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_Balanceo:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_Balanceo {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/**/
/**/
/**************************************************ESCANER*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_Escaner {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Header_Escaner.jpeg);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_Escaner {
    display: flex;
    align-items: center;
}

.InfoTOP_Escaner {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_Escaner h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_Escaner h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_Escaner {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_Escaner:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_Escaner {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/**/
/**/
/**************************************************MANTENCIONES*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_Mantenciones {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Header_Mantenciones.jpeg);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_Mantenciones {
    display: flex;
    align-items: center;
}

.InfoTOP_Mantenciones {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_Mantenciones h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_Mantenciones h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_Mantenciones {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_Mantenciones:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_Mantenciones {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/**/
/**/
/**************************************************REPROGRAMACIÓN ECU*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_ReprogramacionECU {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Header_Repregramacion-ecu.jpeg);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_ReprogramacionECU {
    display: flex;
    align-items: center;
}

.InfoTOP_ReprogramacionECU {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_ReprogramacionECU h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_ReprogramacionECU h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_ReprogramacionECU {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_ReprogramacionECU:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_ReprogramacionECU {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/**/
/**/
/**************************************************VULCANIZACION*****************************************************/
/**/
/**/

/********************************HERO SECTION*/

.header_Vulcanizacion {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.25)), url(../img/Header_Vulcanizacion.jpg);
    opacity: 1;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headerTOP_Vulcanizacion {
    display: flex;
    align-items: center;
}

.InfoTOP_Vulcanizacion {
    position: absolute;
    text-align: center;
    top: 200px;
    margin: 10px auto; 
}

.txt_head_Vulcanizacion h1 {
    font-size: 80px;
    text-shadow: #000000 0px 0px 10px;
}

.txt_head_Vulcanizacion h2 {
    font-size: 60px;
    color: #ccc;
    text-shadow: #000000 0px 0px 10px;
}

.btn_Vulcanizacion {
    background-color: #FDC309 !important;
    color: #000000 !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.btn_Vulcanizacion:hover {
    background-color: #e2b007 !important;
    color: #000000 !important;
}

/********************************DESCRIPTION*/

.img_Vulcanizacion {
    width: 100%;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}
